{% extends 'base.html' %}
{% block content %}
<div class="container-fluid w-75 bg-light p-1">
<div class="container w-100">
			
	<div id="da-slider" class="da-slider">
		<div class="da-slide">
			<h2>welcom </h2>
			<p class="p1">    
			A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.   </p>
			<a href="#" class="da-link">Read more</a>
			<div class="da-img"> <img  class="img" src="/static/image/1.png" alt="image01" /></div>
		</div>
		<div class="da-slide">
			<h2> welcom </h2>
			<p class="p1">  
			A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. </p>
			<a href="#" class="da-link">Read more</a>
			<div class="da-img"><img class="img" src="/static/image/2.png" alt="image01" /></div>
		</div>
		<div class="da-slide">
			<h2>Revolution</h2>
			<p class="p1">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
			<a href="#" class="da-link">Read more</a> <br>
			<div class="da-img"><img  class="img" src="/static/image/3.png" alt="image01" /></div>
		</div>
		<div class="da-slide">
			<h2>Quality Control</h2>
			<p class="p1">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
			<a href="#" class="da-link">Read more</a>
			<div class="da-img"><img class="img" src="/static/image/4.png" alt="image01" /></div>
		</div>
		<nav class="da-arrows">
			<span class="da-arrows-prev bi bi-arrow-left-circle  text-light fs-5 pt-0 mt-0 "></span>
			<span class="da-arrows-next bi bi-arrow-right-circle  text-light fs-5 pt-0 mt-0 "></span>
		</nav>
	</div>
</div>

<script type="text/javascript">
	$(function() {
	
		$('#da-slider').cslider({
			autoplay	: true,
			bgincrement	: 450
		});
	
	});
</script>	

</div>

<div class="container-fluid w-75 bg-light p-3">
	<div class="row pt-3">
		<div class="col-md-4 ">
			<div class='bg-light img-fluid img-thumbnail h-100'>
			<img class="img-fluid  img-thumbnail mx-auto d-block" style="hight:100;" src="/static/image/director.jpg">
			<h4 class="pt-3 pe-3 ps-3 text-info" ><u>পরিচালকের মন্তব্যঃ </u></h4>
			<p class="pt-3 pe-3 ps-3" style="text-align: justify; text-justify:inter-word;">তথ্য ও প্রযুক্তির যুগে আমাদের নিত্যদিনের সঙ্গী হচ্ছে কম্পিউটার, ল্যাপটপ বা মোবাইল। আমরা  জানি যে বর্তমান যুগ কম্পিউটার এর যুগ। সুতারং বর্তমান সময়ে কম্পিউটার শেখা অত্যাবশীকয় । </p>
			</div>
		</div>
		
		<div class="col-md-4 ">
			<div class='bg-light img-fluid img-thumbnail h-100'>
			<img class="img-fluid  img-thumbnail mx-auto d-block" src="/static/image/group.jpg">
			<h4 class="pt-3 pe-3 ps-3 text-info" ><u> আমাদের কথাঃ </u></h4>
			<p class="pt-3 pe-3 ps-3" style="text-align: justify; text-justify:inter-word;">শিক্ষা যেমন মানুষের জ্ঞানচক্ষু খুলে দেয়, প্রশিক্ষণও একইভাবে মানুষের কর্মজীবনে চলার পথকে মশ্রিণ করে। শিক্ষিত বেকারদের কর্মজীবনে প্রবেশ  করতেই আমাদের কম্পিউটার প্রশিক্ষণের মূল লক্ষ্য ।</p>
			</div>
		</div>
		
		<div class="col-md-4 ">
			<div class='bg-light img-fluid img-thumbnail h-100'>
			<img class="img-fluid  img-thumbnail mx-auto d-block" src="/static/image/chorche.jpg">
			<h4 class="pt-3 pe-3 ps-3 text-info" ><u> প্রশিক্ষণ সমূহ </u></h4>
			<p class="pt-3 pe-3 ps-3" style="text-align: justify; text-justify:inter-word;"> আমরা এখানে ০৩ মাস ‍এবং ০৬ মাস মেয়াদী কম্পিউটার প্রশিক্ষণ দিয়ে থাকি । যখানে Microsoft Office , Photoshop and Data base শিখানো হয় । ০৬ মাস মেয়াদী গাড়ীর ড্রাইভিং প্রশিক্ষণ দেওয়া হয় । </p>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid w-75 bg-light p-3">
	<div class="row">
		<div class="col-md-4 ">
			<div class='bg-light img-fluid img-thumbnail h-100'>
			<img class="img-fluid  img-thumbnail mx-auto d-block" src="/static/image/job.jpg">
			<h4 class="pt-3 pe-3 ps-3 text-info" ><u> চাকরিঃ </u></h4>
			<p class="pt-3 pe-3 ps-3" style="text-align: justify; text-justify:inter-word;">এখানে সকল প্রকার সরকারি বেসরকারি চাকরির আবদেন করা হয় । পরীক্ষার ফলাফল দেখানো হয় । প্রতিদিনের সরকারি চাকরির খবর, সাম্প্রতিক সরকারি চাকরির খবর, government jo নতুন সরকারি চাকরির খবর, সরকারি নিয়োগ। </p>
			</div>
		</div>
		
		<div class="col-md-4 ">
			<div class='bg-light img-fluid img-thumbnail h-100'>
			<img class="img-fluid  img-thumbnail mx-auto d-block" src="/static/image/passport.jpg">
			<h4 class="pt-3 pe-3 ps-3 text-info" ><u> Passport/ Visa </u></h4>
			<p class="pt-3 pe-3 ps-3" style="text-align: justify; text-justify:inter-word;">এখানে সকল প্রকার  Passport ফরম পূরণ  করা হয় খুবই দাত্বীয় সহকারে  । Passport এর  অগ্রগতি দেখানো হয়  । ভারতীয় ভিসার ফরম পূরণ করা হয়  এবং সাথে অন্যান সকল প্রকার সুবিধা প্রদান করা হয় । </p>
			</div>
		</div>
		<div class="col-md-4 ">
			<div class='bg-light img-fluid img-thumbnail h-100'>
			<img class="img-fluid  img-thumbnail mx-auto d-block" src="/static/image/other.jpg">
			<h4 class="pt-3 pe-3 ps-3 text-info" ><u> অনান্যা সেবাঃ </u></h4>
			<p class="pt-3 pe-3 ps-3" style="text-align: justify; text-justify:inter-word;">এখানে সকল প্রকার  Passport ফরম পূরণ  করা হয় খুবই দাত্বীয় সহকারে  । Passport এর  অগ্রগতি দেখানো হয়  । ভারতীয় ভিসার ফরম পূরণ করা হয়  এবং সাথে অন্যান সকল প্রকার সুবিধা প্রদান করা হয় । </p>
			</div>
		</div>
		
	</div>

</div>
{% endblock %}
